.container {
  /* text-align: center; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--success-card-container);
}

.card_text {
  color: var(--success-card-text);
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.card_message {
  color: var(--success-card-message);
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.card_iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: var(--success-card-container);
  margin: 0 auto;
}

.checkmark {
  color: var(--success-card-text);
  font-size: 100px;
  line-height: 200px;
}

.card {
  background: var(--success-card-background);
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px var(--success-card-container);
  display: inline-block;
  margin: 0 auto;
}
